name: Run Spring Boot App

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  run-app:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Gradle Build
        run: ./gradlew build -x test

      - name: App starten
        run: java -jar build/libs/*SNAPSHOT.jar

      - name: Test Request
        run: curl http://localhost:8080/get